@keyframes circleMove {
    from {
        transform: rotateZ(-180deg);
    }

    to {
        transform: rotateZ(180deg);
    }
}

@keyframes backgroundMove {
    from {
        /* transform: rotateZ(10deg); */
        background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    }

    to {
        transform: rotateZ(0);
        background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    }
}